body { 
    background-color: #DDD8D0;
    margin-left: none;
}
.subtexto {
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    font-size: 11px;
}
.subtexto3 {
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    font-size: 20px;
    margin-bottom: 4rem;
}
.subtexto1 {
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    font-size: 10px;
}
.carta {
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    font-size: 15px;
}

.texto{ 
    font-family: 'Merriweather Sans', sans-serif;
    color: black;
    margin-top: 40px;
    font-size: 40px;
}
.img{
    position: relative;
    width: 20vw;
    align-items: center;
}
.img2{
    position: relative;
    width: 35vw;
    align-items: center;
}
.img1{
    margin-left: 15 rem;
    position: relative;
    width: 20vw;
    align-items: center;
}
.img3{
    position: relative;
    width: 40rem;
    margin-left: 40rem;
}

.button{
    margin-left: none;
    margin-bottom: 20px;
    border-radius: 6px;
    margin-right: 20px;
    margin-top: 30px;
    width: 120px;
    font-size: 7px;
    font-family: 'Merriweather Sans', sans-serif;
}

/*botao de areas html*/
.button2{
    margin-left: none;
    background-color:transparent;
    margin-bottom: 20px;
    border: transparent;
    border-radius: 6px;
    margin-right: 20px;
    margin-top: 30px;
    width: 120px;
    font-size: 7px;
    font-family: 'Merriweather Sans', sans-serif;
}


.button{
    margin-left: none;
    position: relative;
    background-color:transparent;
    margin-bottom: 10px;
    border: transparent;
    border-radius: 6px;
    margin-right: 20px;
    margin-top:none;
    width: 120px;
    font-size: 7px;
    font-family: 'Merriweather Sans', sans-serif;
}
.button1 {
    margin-left: none;
    background-color:transparent;
    margin-bottom: 20px;
    border: transparent;
    border-radius: 6px;
    margin-right: 20px;
    margin-top: 30px;
    width: 120px;
    font-size: 7px;
    font-family: 'Merriweather Sans', sans-serif;
}

.voltar1 {
    border-radius: 6px;
    border-color: transparent;
    margin-left: 37rem;
    margin-right: 5px;
    margin-top: 1rem;
    height: 30px;
    width: 100px;
    margin-bottom: 0;
    font-size: 7px;
    font-family: 'Borgen', sans-serif;                                                                                    
    box-shadow:10px 10px 10px #000000;
}
.voltar {
    border-radius: 6px;
    border-color: transparent;
    margin-left: 1rem;
    margin-right: 5px;
    margin-top: 3rem;
    height: 30px;
    width: 100px;
    margin-bottom: 0;
    font-size: 7px;
    font-family: 'Borgen', sans-serif;                                                                                    
    box-shadow:10px 10px 10px #000000;
}
.alinhar{
    display: flex;
    flex-direction: column;
}

a{
    text-decoration: none;
}

/*button matematica*/
.subtexto4{
    margin-top: 10rem;
    color: #000000;
}

.caixa{
    padding:11px;
    height: 120px;
    background-color: #A59094 ;
    border: none;
    width: 900px;
    border-radius: 30px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}

.caixa1{
    padding:11px;
    height: 120px;
    background-color: #A59094 ;
    border: none;
    width: 900px;
    border-radius: 30px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}

.caixa2{
    padding:11px;
    height: 120px;
    background-color: #A59094 ;
    border: none;
    width: 900px;
    border-radius: 30px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
}